<h1>{{ titulo }}</h1>

<nav>
    <a href="/products"><button type="button" value="Ir">IR A PRODUCTO</button></a>
</nav>

{{#if hayCart}}
<p>El carrito {{ cart }} contiene los siguientes productos:</p>
<ul>
  {{#each productos}}
  <li>Id:{{ this.productId }}</li>
  <li>Producto:{{ this.productTitle }}</li>
  <li>Precio:{{ this.productPrice }}</li>
  <li>Cantidad: {{ this.quantity }}</li><br>
  {{/each}}
</ul>
{{else}}
<p>No hay productos en el carrito {{ cart }}</p>
{{/if}}

{{#if hayCart}}
<form id="formPurchase">
  <button class="cartButton" type="submit" value="{{cart}}">GENERAR TICKETS</button>
</form>
<div id="tickets"></div>
{{/if}}

<script src="/js/purchase.js"></script>

