<h2>{{titulo}} </h2>

<nav>
  <div class="loguot">
    <form id="formLogout">
      <button type="submit">Logout</button>
    </form>
  </div>
</nav>


{{#if hayUsers}}

<ul>
  {{#each payload}}
  <li>EMAIL:{{ this.email }}</li>
  <li>NOMBRE:{{ this.first_name }}{{ this.last_name }}</li>
  <li>ROL: {{ this.role }}</li>
  <li>ULTIMA CONECCION : {{this.last_connection}}</li><br>
  {{/each}}
</ul>
{{else}}
<p>No hay Usuarios {{ cart }}</p>
{{/if}}

{{#if hayCart}}
<form id="formPurchase">
  <button class="cartButton" type="submit" value="{{cart}}">GENERAR TICKETS</button>
</form>
<div id="tickets"></div>
{{/if}}

<form id="formUsuario">
  <button class="cartButton" type="submit" value="{{cart}}">GENERAR TICKETS</button>
</form>
<div id="usuarios"></div>


{{!-- <script src="/js/users.js"></script> --}}